section.advantage.py-5
	.container.d-flex.flex-column.flex-sm-row.justify-content-between.align-items-center
		.advantage__img
			img(src="images/logo-elog-blanco.png", alt="LOGO ELOG BLANCO")
		h1.advantage__title.text-right PREMIUM LOGISTIC