section.advantage.py-5
	.container
		h1.advantage__title ESTAMOS CONSTRUYENDO NUESTRA WEB
		h2.advantage__subtitle PROXIMAMENTE ESTAREMOS DISPONIBLES PARA USTED

		p.advantage__description
			|Tendrá acceso a nuestros canales de comunicación para ayudarle en sus requerimientos de logística
	//-
		a(href="#").advantage__btn
			img(src="images/icono-mas-naranja.svg", alt="icono mas")
			|LEER MÁS
	