section.advantage.py-5
	.container
		h1.advantage__title TEXTO DESTACANDO UNA VENTAJA
		h2.advantage__subtitle TEXTO COMPLEMENTARIO

		p.advantage__description
			|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi inventore dolorum repellat! Minus deleniti quas consequatur nemo?

		a(href="#").advantage__btn
			img(src="images/icono-mas-naranja.svg", alt="icono mas")
			|LEER MÁS
	