footer.footer.py-5
	.container-fluid
		img(src="images/logo-elog-footer.svg", alt="Logo ELOG Footer").footer__img
		
		nav.footer__menu
			a(href="#") NOSOTROS
			a(href="") SERVICIOS			
			a(href="") CONTACTO

		.footer__sociales
			a(href="#")
				img(src="images/icono-facebook-footer.svg", alt="Facebook")
			a(href="#")
				img(src="images/icono-twitter-footer.svg", alt="Twitter")
			a(href="#")
				img(src="images/icono-instagram-footer.svg", alt="Instagram")
	.footer__copyright
		p
			|&copy; 2017. ELOG - Todos los derechos reservados
		p.mt-3.footer__cesticom
			a(href="http://www.cesticom.com", title="Powered by Cesticom", target="_blank") Powered by Cesticom



script(src="./js/jquery.min.js")
script(src="./js/bootstrap.js")