header.header
  .container.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.py-3
    .header__logo
      a(href="index.html")
        img(src="images/logo-elog.svg", alt="Logo ELOG", width="170")
    .header__menu.d-flex.flex-column.mt-3
      .header__sociales
        a(href="#")
          img(src="images/icono-facebook-header.svg", alt="icono facebook")
        a(href="#")
          img(src="images/icono-twitter-header.svg", alt="icono twitter")
        a(href="#")
          img(src="images/icono-instagram-header.svg", alt="icono instagram")
      .header__navegacion                
        button.boton-menu.d-lg-none(type='button', data-toggle='collapse', data-target='#menu-principal', aria-expanded='false')
          i.fa.fa-bars(aria-hidden='true')
        nav.collapse.navigation#menu-principal
          a(href="#", title="title").header__link NOSOTROS 
          a(href="#", title="title").header__link SERVICIOS 
          a(href="#", title="title").header__link VENTAJAS
          a(href="#", title="title").header__link CONTACTO 