header.header
  .container.d-flex.flex-column.flex-sm-row.justify-content-center.align-items-center.flex-wrap.pt-3
    .header__logo
      a(href="index.html")
        img(src="images/logo-elog.svg", alt="Logo ELOG", width="170")
    .header__menu.d-flex.justify-content-between.justify-content-md-end.flex-md-column.align-items-end.flex-wrap
      .header__sociales
        a(href="#")
          img(src="images/icono-facebook-header.svg", alt="icono facebook")
        a(href="#")
          img(src="images/icono-twitter-header.svg", alt="icono twitter")
        a(href="#")
          img(src="images/icono-instagram-header.svg", alt="icono instagram")

      button.boton-menu.d-block.d-md-none(type='button', data-toggle='collapse', data-target='#menu-principal', aria-expanded='false')
        i.fa.fa-bars(aria-hidden='true')

      nav.collapse.header__nav#menu-principal
        a(href="#nosotros", title="title").header__link NOSOTROS 
        a(href="#servicios", title="title").header__link SERVICIOS         
        a(href="#contacto", title="title").header__link CONTACTO 