section.location.py-5
	.container.d-sm-flex.justify-content-center
		.location__map
			img(src="images/mapa-ejemplo.jpg", alt="Mapa")
		.location__data
			article.location__item
				h4.location__title
					img(src="images/icono-locacion-naranja.svg")
					|UBÍQUENOS
				p.location__description
					|Texto correspondiente a la dirección completa detallada.
					br
					|Continuación del texto de la ubicación
					br
					|CP ANC00ZX

			article.location__item
				h4.location__title
					img(src="images/icono-telefono-naranja.svg")
					|CONTÁCTENOS
				p.location__description
					|(1234) 999 6745 - (5678) 444 2255
					br
					|direccióncorreo@elog.com
