section.location.py-5
	a(name="contacto")
	.container.d-sm-flex.justify-content-center
		.location__map
			img(src="images/mapa-ejemplo.jpg", alt="Mapa")
		.location__data
			article.location__item
				h4.location__title
					img(src="images/icono-locacion-naranja.svg")
					|UBÍQUENOS
				p.location__description
					|Parque de las ciencias
					br
					|Warehouse M2-B2, Ruta 101, Km 23
					br
					|Canelones, Uruguay

			article.location__item
				h4.location__title
					img(src="images/icono-telefono-naranja.svg")
					|CONTÁCTENOS
				p.location__description
					|+598.99.381914
					br
					|pablo.medina@e-log.solutions
