.services-featured
	a(name="nosotros")
	.container.d-sm-flex
		article.services-featured__item.services-featured__item--light
			img(src="images/imagen-camaras-de-frio.jpg", alt="Camara de frio").services-featured__img
			.services-featured__text
				h2.services-featured__title CÁMARAS DE FRIO
				h4.services-featured__subtitle Control preciso de temperatura
				p.services-featured__description
					|Soluciones de almacenamiento adecuado para productos que requieran bajas temperaturas
				a.services-featured__link(href="#")
					img(src="images/icono-mas-blanco.svg")

		article.services-featured__item.services-featured__item--mid
			img(src="images/imagen-packing.jpg", alt="Camara de frio").services-featured__img
			.services-featured__text
				h2.services-featured__title PICKING Y PACKING
				h4.services-featured__subtitle Eficacia en el manejo de paquetería
				p.services-featured__description
					|Gestionamos la selección, extracción, organización y embalaje de paquetes acorde a sus necesidades
				a.services-featured__link(href="#")
					img(src="images/icono-mas-blanco.svg")

		article.services-featured__item.services-featured__item--dark
			img(src="images/imagen-inventario.jpg", alt="Camara de frio").services-featured__img
			.services-featured__text
				h2.services-featured__title INVENTARIOS
				h4.services-featured__subtitle Catalogación online de bienes y existencias
				p.services-featured__description
					|Servicio online de catalogación y registro de bienes y existencias de su empresa u organización
				a.services-featured__link(href="#")
					img(src="images/icono-mas-blanco.svg")