.services
	.container
		h1.services__title NUESTROS SERVICIOS PARA USTED
		h2.services__subtitle TEXTO DESTACANDO LOS SERVICIOS
		.services__list
			.services__item
				.services__icon
					img(src="images/icono-mas-blanco.svg", alt="icono mas")
				.services__description
					h4 RECEPCIÓN Y CONTROL DE MERCADERÍA
					p Lorem ipsum dolor sit amet.            
			
			.services__item
				.services__icon
					img(src="images/icono-mas-blanco.svg", alt="icono mas")
				.services__description
					h4 FRACCIONAMIENTO
					p Lorem ipsum dolor sit amet, consectetur adipisicing.           
			
			.services__item
				.services__icon
					img(src="images/icono-mas-blanco.svg", alt="icono mas")
				.services__description
					h4 RE-ETIQUETADO
					p Lorem ipsum dolor sit amet, consectetur adipisicing.    

			.services__item
				.services__icon.services__icon--mid
					img(src="images/icono-mas-blanco.svg", alt="icono mas")
				.services__description
					h4 BÓVEDAS DE SEGURIDAD
					p Lorem ipsum dolor sit amet, consectetur adipisicing. 

			.services__item
				.services__icon.services__icon--mid
					img(src="images/icono-mas-blanco.svg", alt="icono mas")
				.services__description
					h4 PROYECTOS FABRILES
					p Lorem ipsum dolor sit amet, consectetur adipisicing.    

			.services__item
				.services__icon.services__icon--mid
					img(src="images/icono-mas-blanco.svg", alt="icono mas")
				.services__description
					h4 ASESORAMIENTO
					p Lorem ipsum dolor sit amet, consectetur adipisicing. 

			.services__item
				.services__icon.services__icon--light
					img(src="images/icono-mas-blanco.svg", alt="icono mas")
				.services__description
					h4 
						a(href="#")
							|CONOZCA TODOS NUESTROS SERVICIOS           