.services
  .container
    h1.services__title MÁS SERVICIOS PARA USTED
    h2.services__subtitle EXCELENCIA Y CALIDAD A SU ALCANCE
    .services__list
      .services__item
        .services__icon
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 RECEPCIÓN Y CONTROL DE MERCADERÍA					    
      
      .services__item
        .services__icon
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 FRACCIONAMIENTO					       
      
      .services__item
        .services__icon
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 RE-ETIQUETADO					

      .services__item
        .services__icon.services__icon--mid
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 ÁREAS HABILITADAS POR MSP					

      .services__item
        .services__icon.services__icon--mid
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 TAREAS DE VALOR AGREGADOS A PEDIDO					

      .services__item
        .services__icon.services__icon--mid
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 ASESORAMIENTO INTEGRAL					

      .services__item
        .services__icon.services__icon--light
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 ZONAS DE USO EXCLUSIVO A PEDIDO DEL CLIENTE			
      
      .services__item
        .services__icon.services__icon--light
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 PLAYA AL AIRE LIBRE, CONTENEDORES Y MÁS			
      
      .services__item
        .services__icon.services__icon--light
          img(src="images/icono-mas-blanco.svg", alt="icono mas")
        .services__description
          h4 GESTIÓN DE E-COMERCE A MÉDIDA       