.services-featured
	.container.d-sm-flex
		article.services-featured__item.services-featured__item--light
			img(src="images/imagen-camaras-de-frio.jpg", alt="Camara de frio").services-featured__img
			.services-featured__text
				h2.services-featured__title CÁMARAS DE FRIO
				h4.services-featured__subtitle Algún texto relacionado
				p.services-featured__description
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum placeat tempora et explicabo dolor iste, impedit voluptatibus praesentium deleniti fugiat facere quo at voluptates repudiandae in, quibusdam aliquam excepturi nemo?
				a.services-featured__link(href="#")
					img(src="images/icono-mas-blanco.svg")

		article.services-featured__item.services-featured__item--mid
			img(src="images/imagen-packing.jpg", alt="Camara de frio").services-featured__img
			.services-featured__text
				h2.services-featured__title PICKING Y PACKING
				h4.services-featured__subtitle Algún texto relacionado
				p.services-featured__description
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum placeat tempora et explicabo dolor iste, impedit voluptatibus praesentium deleniti fugiat facere quo at voluptates repudiandae in, quibusdam aliquam excepturi nemo?
				a.services-featured__link(href="#")
					img(src="images/icono-mas-blanco.svg")

		article.services-featured__item.services-featured__item--dark
			img(src="images/imagen-inventario.jpg", alt="Camara de frio").services-featured__img
			.services-featured__text
				h2.services-featured__title INVENTARIOS
				h4.services-featured__subtitle Algún texto relacionado
				p.services-featured__description
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum placeat tempora et explicabo dolor iste, impedit voluptatibus praesentium deleniti fugiat facere quo at voluptates repudiandae in, quibusdam aliquam excepturi nemo?
				a.services-featured__link(href="#")
					img(src="images/icono-mas-blanco.svg")