<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="author", content="Jerson Moreno")
    title ELOG
    link(href="css/bootstrap.css", rel="stylesheet")
    link(href="css/font-awesome.min.css", rel="stylesheet")    
    link(href="css/elog.min.css", rel="stylesheet")
    // Fuentes web
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700",rel="stylesheet")
    
  body
    include ./_header

    block content

    include ./_footer       
      