// Camersur Home 
$azul-camersur: #1572a2;
$azul-news: #008ec9;
$azul-aprende: #004469;
$azul-oscuro: #224668;
$azul-medio: #116B99;
$azul-claro: #248DC6;
$azul-ligero: #ADE6FB;
$amarillo-universidad: #ffbf00;
$verde-eventos: #80B100;
$texto-footer: #ade6fb;
$texto-copyright: #7fcded;
$texto-titulo: #116b99;
$texto-subtitulo: #a3b6c5;
$texto-descripcion: #759ab3;
$linea-universidad: #3c799d;
$linea-eventos: #bbcdda;
$gris-empresas: #E7E7E7;

// Fuentes
$montserrat-font: 'Montserrat', sans-serif;
$josefin-font: 'Josefin Sans', sans-serif;
$roboto-font: 'Roboto', sans-serif;
