// ELOG
$light-orange: #fda600;
$mid-orange: #ca4d00;
$dark-orange: #952a00;
$light-brown: #605043;
$mid-brown: #483b30;
$dark-brown: #1d1712;
$bg-location: #f3f2f1;

// Fuentes
$roboto-font: 'Roboto Condensed', sans-serif;
