// ELOG
$naranja-claro: #fda600;
$naranja-medio: #ca4d00;
$naranja-oscuro: #952a00;
$marron-claro: #605043;
$marron-medio: #483b30;
$marron-oscuro: #1d1712;
$bg-location: #f3f2f1;

// Fuentes
$roboto-font: 'Roboto Condensed', sans-serif;
