.header {		
	background: url("../images/bg-header.jpg") no-repeat top center;  		
	background-attachment: fixed;
	background-size: cover;
	@include media(sm) {
		background-size: auto;
	}

  &__logo, &__menu {
    width: 100%;    		
  }
  &__logo {
    text-align: center;
		@include media(sm) {
			width: 50%;
			text-align: left;
		}
  }

  // Contenedor menu + redes sociales
  &__menu {
    margin-top: 0.5rem;  
		@include media(sm)  {
			margin-top: 0;
			width: 50%;
		}		
  }
  &__sociales {
    a {
      margin: 0 0.25rem;
			img {
				transition: all 1s ease;
				&:hover {
					transform: rotateY(360deg);
					transform-style: preserve-3d;
				}
			}
    }
  }
  
  .boton-menu {
    background: transparent;
    border: 0;
    color: $mid-brown;    
    font-size: 2rem;
    transition: all 0.5s ease;
    &:hover {
      color: darken($mid-brown, 10%);
    }
    &:focus {
      outline: 0;
    }
  }

  &__nav {
    width: 100%;
    text-align: center;            
    a {
      border-bottom: 4px solid $mid-orange;
      color: #766c64;
      display: block;
      font-family: $roboto-font;
      font-size: em(18);
      padding: 0.5rem 0;
			transition: all 0.5s ease;
			@include media(sm) {
				margin: 0 0.5rem;
			}
			&:hover {
				color: $light-orange;
				text-decoration: none;
			}
    }
		@include media(sm) {
			display: flex;
			justify-content: flex-end;			
		}
  }
}